<div class="section">
	<div class="container is-centered">
	  <div class="columns is-variable is-8">
		  <div class="column is-half">
			  <h2 class="title is-2">Edit Profile</h2>
          <%= simple_form_for(resource, as: resource_name, url: edit_user_registration_path(resource_name)) do |f| %>
	        <%= f.error_notification %>

		      <div class="field">
	  	      <div class="control">
	            <%= f.input :email, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" } %>
	  	      </div>
		      </div>
  
		  
          <div class="field">
            <div class="control">
              <%= f.input :password, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" } %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :password_confirmation, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" } %>		
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.button :submit, "Make Changes", class:"button is-info is-medium" %>
            </div>
          </div>
          <% end %>
      </div>
    
    <div class="columns is-variable is-8">
      <div class="column">
        <div class="columns">
          <div class="column">
            <div class="content">
              <h2 class="title has-text-centered is-2">Created Events</h2>
                <ul>
                  <% current_user.created_events.each do | event | %>
                    <li><%= event.title %> @ <%= event.location %></li>
                  <% end %>
                </ul>
            </div>
            <div class="content">
              <h2 class="title has-text-centered is-2">Attending These Events</h2>
                <ul>
                  <% current_user.event_invites.each do |invitation| %>
                    <li><%= invitation.event.title %> @ <%= invitation.event.location %></li> 
                    <%= link_to "Delete RSVP", invitation_path(id: invitation.id, event_id: invitation.event.id, invitee_id: invitation.invitee.id), method: :delete, class: "button is-small is-dark" %>               
                  <% end %>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>