<p id="notice"><%= notice %></p>

<div class="container is-centered">
  <p class="content has-text-centered">
    <img class="image" src="https://totalarcherychallenge.com/wp-content/uploads/2019/02/DI9A2773-1024x683.jpg"> 
    <br></br>
    <strong><%= @event.title %> @ <%= @event.location%></strong>
    <br></br>
    <a class="control"></a>
      <% if current_user.id == @event.creator_id %>
        <%= link_to "Edit", edit_event_path, class: "button" %>
        <%= link_to "Back", root_path, class: "button" %>
      <% elsif @event.attendees.include?(current_user) %>
        <%= link_to "Delete invitation", invitation_path(event_id: @event.id, invitee_id: invitation.invitee.id ), method: :delete, class: "button" %>
      <% else %>
        <%= link_to "RSVP", invitations_path(event_id: @event.id), :method => :post, class: "button" %>
      <% end %>
  </p>
</div>
No c