<p id="notice"><%= notice %></p>
  <div class="container is-centered">
    <p class="content has-text-centered">
      <% if @event.image.attached? %>
        <%= image_tag @event.image.variant(resize_to_limit: [500, 500]) %>
      <% else %>
        <img class="image" src="https://www.eduprizeschools.net/wp-content/uploads/2016/06/No_Image_Available.jpg">
      <% end %>
      <br></br>
      <strong><%= @event.title %> @ <%= @event.location%></strong>
      <br></br>
      <a class="control"></a>
        <% if user_signed_in? && current_user.id == @event.creator_id %>
          <%= link_to "Edit", edit_event_path, class: "button" %>
          <%= link_to "Back", root_path, class: "button" %>
          <%= link_to "Delete", event_path, class: "button", method: :delete, data: { confirm: "Are you sure you want to delete this event?" } %>
        <%# <% elsif current_user.attended_events %>
          <p class="content has-text-centered">You're attending!</p>
          <ul>
            <% @event.user_invites do |user| %>
              <li><%= user.email %></li>    
            <% end %>
          </ul>
        <% else %>
          <%= link_to "RSVP", invitations_path(event_id: @event.id), :method => :post, class: "button" %>
        <% end %>
    </p>
  </div>
