<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://images.squarespace-cdn.com/content/v1/56dc94f240261df5707b6c12/1534168405750-LZHPAB8ZXDHPIHBP10XR/ke17ZwdGBToddI8pDm48kGIIrJti1gW7QxvBo5ga82NZw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVGdQHaDDnJGvqne7cOdu111VDMkTXMZtq8GnjJUgwffdyb8BodarTVrzIWCp72ioWw/events.png?format=1000w">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
